{% load static %}
<footer class="rodape">
        <div class="rodape__icones">
            <a href="https://www.linkedin.com/in/roberth-thomas-946a142b9/" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/linkedin.png' %}" alt="ícone linkedln" width="23">
            </a>
            <a href="https://github.com/Roberth-Thomas" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/github-60.png' %}" alt="ícone github-60" width="30">
            </a>
        </div>
        <p class="rodape__texto">Desenvolvido por Alura</p>
</footer>