{% load static %}

            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/banner-django-Music-dark-blur.png' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> O lugar onde as melhores músicas estão!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Pop</li>
                        <li class="tags__tag">K-Pop</li>
                        <li class="tags__tag">Rap</li>
                        <li class="tags__tag">J-Pop</li>
                        <li class="tags__tag">Indie</li>
                        <li class="tags__tag">Soul Moderno</li>
                        <li class="tags__tag">Folk</li>
                    </ul>
                </section>
            </section>
        </main>